.section h1{
    color: white;
    font-size: 10em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.one{
    color: white;
    font-size:2em ;
    font-weight: lighter;
    letter-spacing: 2px;
    word-spacing: 3px;
    text-transform: uppercase;
}

.two{
    color: white;
    font-size:2em ;
    font-weight: 400;
    letter-spacing: 2px;
    word-spacing: 3px;
    text-transform: uppercase;
}

.ast{
    z-index: -1;
    position: absolute;
    top: 80vh;
    width: 200px;
    animation: ast 200s infinite linear alternate;
}

.section1{
    text-align: center; 
    z-index: -2;
}

@media only screen and (max-width: 800px) {
    .ast{
        width: 100px;
    }

    .section1>img{
        text-align: center;
        width: 200px;
    }

    .section1>p{
        font-size: small;
    }
}

@keyframes ast {
    to{
        transform: translate(10px, 10px) rotate(1turn);
    }
}